html, body, #root, .App {
	width: 100%;
	background-color: #f9fbfc;
}

.container :is(h1, h2, h3, h4, h5, h6) {
	color: #34475c;
}

/*** header ***/

.header {
	padding-top: 0.7rem !important;
	padding-bottom: 0.7rem !important;
	background-color: #ffffff !important;
	box-shadow: 0 10px 10px rgba(200, 200, 200, 0.15) !important;
}

.navbar-brand {
	color: #34475c !important;
	font-weight: bold !important;
	font-size: 20px !important;
}

.nav-link {
	color: #a3a3a3 !important;
	font-weight: bold !important;
	font-size: 20px !important;
}

.nav-link:hover {
	color: #34475c !important;
}

.nav-link.active {
	color: #34475c !important;
}

.nav-container {
	display: flex;
	justify-content: space-evenly;
}

@media (max-width: 991px) {
	.nav-container {
		display: list-item;
		justify-content: start;
	}
}

/*** footer ***/

.footer {
	background-color: #012236;
	color: #c0ced7;
	padding: 3rem 0;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.footer-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.footer-section a {
	width: fit-content;
	color: inherit;
	text-decoration: inherit;
}

.footer-section a:hover {
	color: #f0f9ff;
}

.footer-header {
	font-weight: bold;
	font-size: 20px;
}

.footer-copyright {
	margin-top: 3rem;
}

@media (max-width: 991px) {
	.footer-section {
		margin-bottom: 2rem;
	}
}

/*** card ***/

.card {
	border: none !important;
	border-radius: 20px !important;
}

/*** schedule ***/

.schedule-text {
	font-size: 14px;
}

/*** buttons ***/

.btn:focus, .btn:active, .btn-close:focus, .btn-close:active {
	outline: none !important;
	box-shadow: none !important;
}

/*** react-quill ***/

.ql-editor {
	padding: 0 !important;
}
